<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div class="alert alert-danger">
      <% product.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, id: :product_price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :stock %>
    <%= form.number_field :stock, id: :product_stock, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :note %>
    <%= form.text_area :note, id: :product_note, class: 'form-control' %>
  </div>

  <div class="text-right">
    <%= link_to 'キャンセル', products_path, class: 'btn btn-default' %>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
