<p>
  <strong><%= Product.human_attribute_name :name %>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= Product.human_attribute_name :price %>:</strong>
  <%= @product.price %>
</p>

<p>
  <strong><%= Product.human_attribute_name :stock %>:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong><%= Product.human_attribute_name :note %>:</strong>
  <%= @product.note %>
</p>

<%= form_tag(action: :pay, method: :post) do %>
   <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_0383a1b8f91e8a6e3ea0e2a9"></script>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
